<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="/static/images/img1.jpeg">
	<link href="/static/styles/bootstrap.min.css" rel="stylesheet" />
	<link href="/static/styles/font-awesome.min.css" rel="stylesheet">
	<link href="/static/styles/icofont.min.css" rel="stylesheet">
	<link href="/static/styles/magnific-popup.css" rel="stylesheet">
	<link href="/static/styles/animate.min.css" rel="stylesheet">
	<link href="/static/styles/owl.carousel.min.css" rel="stylesheet">
	<link href="/static/styles/owl.theme.default.min.css" rel="stylesheet">
	<link href="/static/styles/swiper.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;600;700;800&amp;display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Halant:wght@400;500;600;700&amp;display=swap" rel="stylesheet">
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
	<!-- Goolge icons -->
	<!-- Google Fonts Link For Icons -->
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
	<link rel="stylesheet" href="/static/styles/chatbotstyle.css">
	<!-- Site Main Style Sheet Css -->

	<title>Chatbot</title>
</head>

<body>

	<div class="quotes">
		<p id="quote"></p>
	</div>

	<div class="maincon">

		<div>
			<img src="/static/images/chacha/final.gif" class="chacha-animation" alt="">
		</div>
		<div class="chatbot">
			<header>
				<h2>Chatbot</h2>
				<span class="close-btn material-symbols-outlined">close</span>
			</header>
			<ul class="chatbox">
				<li class="chat incoming">
					<span></span>
					<p>Hi there 👋<br>How can I help you today?</p>
				</li>
			</ul>

			<div class="chat-input">
				<textarea placeholder="Enter a message..." spellcheck="false" required></textarea>
				<span id="send-btn" class="material-symbols-rounded">send</span>

				<span class="material-symbols-outlined" id="voice-input-btn">mic_off</span>

			</div>
		</div>
	</div>
	<script src="/static/scripts/chatbotscript.js"></script>
</body>

</html>