.gradient-custom {
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    background: linear-gradient(to right, rgb(91, 76, 106), rgba(37, 117, 252, 1),to bottom,rgba(0,0,0,0.08))
        
}
/*html::-webkit-scrollbar {
    /* width: 10px; /* Set the width of the scrollbar */
    /*background-color: #f1f1f1; /* Set the background color of the track */
    /*border-radius: 10px;*/ /*Round the corners of the track 
  }/*/
  
  /* Customized rounded scrollbar thumb */
html::-webkit-scrollbar-thumb {
    background-color: gray; /* Set the color of the thumb */
    border-radius: 10px; /* Round the corners of the thumb */
  }
  
html::-webkit-scrollbar-thumb:hover{
    background-color:rgba(128, 128, 128, 0.885);
}   
html::-webkit-scrollbar-track:hover{
    background-color:#ffffff99;
}

.paragraph-date-time{
    margin-top: 100px;
    font-size: larger;
}

#paragraph{
    margin-top: 35px;
    text-align:justify;
    display: inline-block;
}
 
#signup-button{
    padding:auto;
    font-size: 22px;
    margin-top: 33px;
}

.star-display{
    color:rgba(255,0,0,0.8)
}

.footer-rights{
    margin-top:36px;
}

::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
    /* background-color: #f1f1f1; Set the background color of the track */
    border-radius: 10px; /* Round the corners of the track */
  }

::-webkit-scrollbar-thumb {
    background-color: #ad6ef0; /* Set the color of the thumb */
    border-radius: 8px; /* Round the corners of the thumb */
    transition: background-color 0.45s;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #7f748c; /* Set the color of the thumb */
    border-radius: 8px; /* Round the corners of the thumb */
    
  }
  
  /* Customized scrollbar pointers (only for some browsers) */

  